- if @properties.empty?
  %hr
  No bearyby properties found
- else
  %h1 Nearby properties
  %table
    %tr
      %th Number
      %th Name
      %th Bedroom
      %th Distance from search
      %th Latitude
      %th Longtitude
      %th
      %th
      %th

    - @properties.each_with_index do |property, index|
      %tr
        %td= index
        %td= property.name
        %td= property.bedroom
        %th= "#{property.distance_from(@property).round(2)} km"
        %td= property.latitude
        %td= property.longitude
        %td= link_to 'Show', property

