%p#notice= notice

%p
  %b Name:
  = @property.name
%p
  %b Bedroom:
  = @property.bedroom
%p
  %b Latitude:
  = @property.latitude
%p
  %b Longitude:
  = @property.longitude


%img{:src=>@google_maps}
%br

= link_to 'Edit', edit_property_path(@property)
\|
= link_to 'Back', properties_path

%br
=render "nearby_properties"
